SOLIS_API_KEY=
SOLIS_API_SECRET=
SOLIS_API_URL=https://www.soliscloud.com:13333
MONITORING_USE_NATIVE_SOLIS=false
MONITORING_API_BASE_URL=
MONITORING_API_BASE_URLS=
MONITORING_API_MOBILE_LOCAL_FIRST=false

HUAWEI_BASE_URL=
HUAWEI_USERNAME=
HUAWEI_SYSTEM_CODE=

GROWATT_BASE_URL=https://openapi.growatt.com
GROWATT_API_TOKEN=
