SOLIS_API_KEY=
SOLIS_API_SECRET=
SOLIS_API_URL=https://www.soliscloud.com:13333

HUAWEI_BASE_URL=https://intl.fusionsolar.huawei.com
HUAWEI_USERNAME=
HUAWEI_SYSTEM_CODE=

GROWATT_BASE_URL=https://openapi.growatt.com
GROWATT_API_TOKEN=
